@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-white text-gray-800;
}
/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
html {
  scroll-behavior: smooth;
}